@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <p>mrvic.predrag@gmail.com</p>
        <p>A1234546a$</p>
        <p>AQAAAAEAACcQAAAAEAqBaHtA9cZig39kswbl3GLijxj8OFHWN1/ABDrNNNKRfqTqM/sske/mmJYMMAzfwg==</p>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
