USE [master]
GO
/****** Object:  Database [movie]    Script Date: 30.3.2021. 18:17:41 ******/
CREATE DATABASE [movie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'movie', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\movie.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'movie_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\movie_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [movie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [movie]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30.3.2021. 18:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Glumci]    Script Date: 30.3.2021. 18:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Glumci](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Glumci] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 30.3.2021. 18:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[ReleaseDate] [datetime2](7) NOT NULL,
	[Genre] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210212180824_Init', N'3.1.11')
GO
SET IDENTITY_INSERT [dbo].[Glumci] ON 

INSERT [dbo].[Glumci] ([Id], [FirstName], [LastName], [Country], [Price]) VALUES (1, N'Pero', N'Peric', N'hr', 6)
SET IDENTITY_INSERT [dbo].[Glumci] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([Id], [Title], [ReleaseDate], [Genre], [Price]) VALUES (1, N'film', CAST(N'2021-02-24T00:00:00.0000000' AS DateTime2), N'drama', CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[Movie] ([Id], [Title], [ReleaseDate], [Genre], [Price]) VALUES (2, N'film nekik novi', CAST(N'2021-02-08T00:00:00.0000000' AS DateTime2), N'drama', CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[Movie] ([Id], [Title], [ReleaseDate], [Genre], [Price]) VALUES (3, N'film s pravom cijenom', CAST(N'2021-02-26T00:00:00.0000000' AS DateTime2), N'drama', CAST(3.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
USE [master]
GO
