@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div sandboxuid="2" class="ng-star-inserted"><dl ace-kv-list="" class="ace-kv-list ace-kv-list-key-width-default" sandboxuid="2"><div sandboxuid="2">
        dt sandboxuid="2">Client ID</dt><dd sandboxuid="2">433631423971-2bd9hurua1fv8thd2rlv8q2sn17u538l.apps.googleusercontent.com</dd></div><!---->
        <div sandboxuid="2" class="ng-star-inserted">
            <dt sandboxuid="2">Client secret</dt><dd sandboxuid="2"><i>GOOGLE_SECRET</i></dd></div><!----><!----><div sandboxuid="2"><dt sandboxuid="2">Creation date</dt><dd sandboxuid="2">March 22, 2021 at 7:35:57 PM GMT+1</dd></div></dl></div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
