@model String
@{
    ViewData["Title"] = "RacunajBrojGodina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RacunajBrojGodina</title>
</head>
<body>

    <h1>RacunajBrojGodina</h1>
    <div>
        <form method="post">
            <label>Unesite datum rođenja:</label>
            <input type="text" name="datum" value="" />
            <button type="submit">Pošalji</button>
        </form>
    </div>
    <p>
        <label style="font-weight:bold;">Broj godina: @Model</label>
    </p>
</body>
</html>

